
{{define "home"}}
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>

		<link href="/styles.css" rel="stylesheet">

		<script src="/app.js" defer></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<script src="../job.js" defer></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>



	</head>
	<body>
		<div id="user-grid-container">
			<div id="brand">
				<h1>
					Bookie
				</h1>
			</div>


			<header>

			</header>
				{{template "userAside" .}}
			<main id="user-main">
				{{template "greeting" .}}
				<div id="sections">
					{{template "groups" .}}
					{{template "jobs" .}}
				</div>
			</main>
		</div>


	</body>
</html>
{{end}}

{{block "groups" .}}
<div id="groups">
<h3 id="group-header"> My Groups </h3>
	<ul id="group-list">
		{{range .Orgs}}
		<li class="">
			<div class="group-list-item">
				<a href={{print "../group/" .Id}}><span class="group-item-name">{{.Name}}</span></a>
				<span class="group-item-owner"> Owner </span>
			</div>
		</li>
		{{end}}
	</ul>
</div>
{{end}}

{{block "jobs" .}}

<div id="jobs">
<h3 id="job-header"> Recent Jobs </h3>
	<ul id="job-list">
		<li class="">
			<div class="job-list-item">
				<span class="job-item-name">Job Name</span>
				<span class="job-item-status"> active/inactive </span>
			</div>
		</li>
	</ul>
</div>
{{end}}

{{block "greeting" .}}
<h1 id="greeting"> Welcome, {{.User.Name}} </h1>
{{end}}

{{block "userAside" .}}

			<aside id="generic-side-bar">
				<ul>
					<li class="side-item">
						<a href="../home">
						Home
						</a>
					</li>

				</ul>
	<a href="../logout">
		<div id="logout-btn" class="side-item">
			Log Out 
		</div>
	</a>
			</aside>
{{end}}
