
{{define "jobPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="/styles.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<script src="../job.js" defer></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>


	</head>
	<body>

		<div class="grid-container">
			<div id="brand">
				<h1>
				Bookie
				</h1>
			</div>


			<header>
				{{template "path" .}}
			</header>
			{{template "sidebar" .}}
			{{template "job-info" .}}
			<main>
				<div class="widgets">


				</div>

				{{template "exp-widget" .}}

				
			</main>
		</div>

		<script src="../job.js"></script>
	</body>
</html>
{{end}}

{{block "path" .}} 
<a href={{print "/"}}>{{.User.Username}}/</a>
<a href={{print "/group/" .Org.Id}}>{{.Org.Name}}/</a>
<a href={{print "/job/" .Job.Id}}>{{.Job.Title}}/</a>
{{end}}

{{block "job-info" .}}
<div id="job-info">
					<h2> 
						{{.Job.Title}}
					</h2>
					<h5>
						Client
					</h5>
					<p>
						{{.Client.Name}}
					</p>
				<div id="job-desc"> 
						{{.Job.Description}}

				</div>

				</div>
{{end}}

{{block "exp-widget" .}}

				<div id="exp-widget">
					<div id="exp-widget-header">
					<h3> Expenses </h3>
					</div>
					<table>
						<th> Item </th>
						<th> Cost </th>
						<th> Receipt </th>
						<tbody>
			{{range $expense, $receipt := .ExpenseList}}
						<tr>
							<td>
					<a href={{print "/expense/" $expense.Id}}>
				{{$expense.Name}}
					</a>
							</td>
							<td>
				${{$expense.Cost}}
							</td>
				{{if eq $receipt.Id 0}}
				<td class="upload-rec-row" id={{print "receiptfor" $expense.Id}}>
					<form enctype="multipart/form-data" method="post" hx-target={{print "#receiptfor" $expense.Id}} hx-swap="outerHTML" hx-trigger="submit" hx-post={{print "/upload/receipt/" $expense.Id}}>

						<label for="file" id="receipt-upload-btn">  Upload

						</label>
								<input onchange="fileInputChange()" id="file" type="file" name="file" accept=".pdf"> 

						<input type="hidden" name="expId" value={{$expense.Id}} >
						<button id="receipt-submit-btn" type="submit"> Submit </button>
						
					</form>

							</td>
				{{else}}

							<td class="upload-rec-row">
					<a href={{$receipt.S3Url}} ><button> Download </button></a>
							</td>

				{{end}}

						</tr>
			{{end}}
						</tbody>
					</table>
					
<!--					<ul>-->
<!--						<div class="exp-item">-->
<!--							<li>-->
<!--						Replacement O-rings and washer: $5.00	-->
<!--						</li>-->
<!--							 <svg class="exp-opt" height="25" width="25px">-->
<!--  <use xlink:href="#option"></use>-->
<!--</svg>-->
<!--						</div>-->
<!---->
<!--						<div class="exp-item"><li>-->
<!--						Replacement O-rings and washer: $5.00	-->
<!--						</li></div>-->
<!--						<div class="exp-item"><li>-->
<!--						Labor: 2 hours at $25/hour: $50.00	-->
<!--						</li></div>-->
<!---->
<!---->
<!--					</ul>-->
				</div>
{{end}}

{{block "uploadedReceipt" .}}
	
							<td class="upload-rec-row">
							<a href={{.S3Url}}><button> Download </button></a>
							</td>

{{end}}

{{block "sidebar" .}}

			<aside id="side-bar">
				<ul>
		<!--<div class="side-item">-->
			

			<a href="../home">
		<li class="side-item">
			<img src="../home.svg" width="20" height="20"/>
				<span>
				Home
				</span>
		</li>
			</a>
		<!--</div>-->

					<!--<li class="side-item">-->
					<!--	Expenses-->
					<!--</li>-->

					<!--<li class="side-item">-->
					<!--	View Documents	-->
					<!--</li>-->
					<li onclick="navigateCreateExpense()" class="side-item">
			<img src="../copy.svg" width="20" height="20"/>
			<span>
						Add Expense
			</span>
		<form id="new-exp-form" method="post" action="/create/expense">
			<input type="text" name="job-id" value={{print .Job.Id}} hidden> 
			<input type="text" name="org-id" value={{print .Org.Id}} hidden> 
			<!--<button id="exp-add-btn" type="submit"> New </button>-->
		</form>
					</li>
		<li class="side-item" onclick="navigateCreateInvoice()">
			<img src="../invoice.svg" width="20" height="20"/>

			<span>
			Invoice
			</span>
		<form id="new-inv-form" method="post" action="/create/invoice">
			<input type="text" name="job-id" value={{print .Job.Id}} hidden> 
			<input type="text" name="org-id" value={{print .Org.Id}} hidden> 
			<!--<button id="exp-add-btn" type="submit"> New </button>-->
		</form>
		</li>
					<!--<li class="side-item">-->
					<!--	Edit Description-->
					<!--</li>-->
					<!--<li class="side-item">-->
					<!--	Notes-->
					<!--</li>-->
				</ul>
	<!--<a href="../logout">-->
		<!--<div id="logout-btn" class="side-item">-->
			<button id="logout-btn" hx-get="../logout" hx-target="body" hx-trigger="click">
				Log Out 
			</button>
		<!--</div>-->

	<!--</a>-->
			</aside>
{{end}}


