

{{define "orgPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/styles.css">
		<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>-->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<script src="../org.js" defer></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>


	</head>
	<body>
		<div id="group-grid-container">

			<div id="brand">
				<h1>
					Bookie
				</h1>
			</div>


			<header>
				{{template "orgPath" .}}
			</header>
			{{template "groupAside" .}}

			<main id="group-main">
				{{template "Header" .Org}}
				{{template "groupJobs" .}}

			</main>
		</div>
	</body>
</html>
{{end}}

{{block "orgPath" .}} 
<a href={{print "/"}}>{{.User.Username}}/</a>
<a href={{print "/group/" .Org.Id}}>{{.Org.Name}}/</a>
{{end}}

{{block "groupAside" .}}

<aside id="generic-side-bar">
	<ul>
		<li class="side-item">
			<a href="../home">
				Home
			</a>
		</li>
		<li onclick="navigateCreateJob()" class="side-item">
			New Job
		<form id="new-job-form" method="post" action="/create/job">
			<input type="text" name="org-id" value={{print .Org.Id}} hidden> 
		</form>
			</a>
		</li>

	</ul>
	<a href="../logout">
		<div id="logout-btn" class="side-item">
			Log Out 
		</div>
	</a>
</aside>
{{end}}

{{block "Header" .}}
<h2>{{.Name}}</h2>
{{end}}


{{block "groupJobs" .}}

{{if eq .JobNum 0}}
<span> No jobs assigned to this group yet </span>
{{else}}

<div id="jobs">
<h3 id="job-header"> Jobs </h3>
	<ul id="job-list">
		{{range .Jobs}}
		<li class="">
			<div class="job-list-item">
				<a href={{print "../job/" .Id}}><span class="job-item-name"> {{.Title}}</span></a>
				<span class="job-item-status"> active/inactive </span>
			</div>
		</li>
		{{end}}
	</ul>
</div>
{{end}}

{{end}}
