
/*global styles*/

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}

li {
}

button {
	margin-left: 10px;
	padding: 5px;
	background-color: black;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-weight; normal;
}

label {
	font-weight: 200;
	font-size: 16px;
	color: grey;
}

body {
	/*font-family: sans-serif;*/
	 font-family: "Open Sans", serif;
	 margin: 0px;

}

body div {
	/*background-color: #ECF1F7;*/
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/

}

header {
	grid-area: header;
	border-bottom: 1px solid #A9A9A9;
	display: flex;
	align-items: center;
	padding-left: 10px;
	/*background-color: #3D5168 !important;*/
}

#brand {
	grid-area: brand;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border-bottom: 1px solid #A9A9A9;*/
	background-color: #3D5168 !important;
}
#brand h1 {
	margin: 0px;
	margin-left: 10px;
	font-size: 25px;
	font-weight: bold;
}

aside {
	grid-area: side-bar;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.05);
	padding: 5px;
	font-weight: 500;
	background-color: #3D5168 !important;
}

aside ul {
	list-style-type: none;
	padding-right: 10px;
	padding-top: 15px;
	display: inline-block;
}
aside li {
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	/*box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;*/
	width: 100%;
	border-radius: 10px;
	/*color: grey;*/
	/*font-weight: lighter;*/
	
}
.side-item {
	
	display: flex;
	align-items: center;
	justify-content: start;
	

	img {
		margin-right: 5px;
	}
	/*span {*/
	/*	margin-left: auto;*/
	/*}*/
}

.side-item:hover {
	cursor: pointer;
}

#logout-btn {
	padding: 5px;
	align-self: center;
	margin: 0px;

}

#job-info {
	grid-area: job-info;
	display: flex;
	flex-direction: column;
	align-items: start;
	border-right: 1px solid gray;
	padding: 15px;
}



#job-info {
h1,h2,h3,h4,h5,p {
	margin: 5px;
}
p {
	margin: 5px;
	font-weight: 300;
}


} 


#job-desc {
	margin-top: 20px;
	font-weight: 300;
}

/*login page styles*/

#index-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#center {
	display: flex;
	justify-content: center;
	align-items: center;

}

#login-header {
	padding: 10px;
}

#login-form {
	div {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}

	input {
		border: 1px solid grey;
		border-radius: 5px;
	}

	width: 40%;
	border: .5px solid grey;
	border-radius: 10px;
	padding: 15px;
}

/*Dashboard styles*/

#user-main {
	grid-area: user-main;
	display: flex;
	flex-direction: column;
}

#generic-side-bar {
	grid-area: gen-side-bar;
}

#greeting {

}

#sections {
	display: flex;
	/*justify-content: space-around;*/
}

#jobs {

	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

#job-header {
	padding: 10px;
}

#job-list {

	li {
		margin: 0px 0px 10px 0px;
	}
}

.job-list-item {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: .5px solid grey;
	border-radius: 5px;
}

.job-item-name {
	font-weight: bold;
	font-size: 18px;
}

#groups {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-right: auto;

}

#group-header {
	padding: 10px;
}

#group-list {
	li {
		margin: 0px 0px 10px 0px;
	}

}

.group-list-item {
	
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: .5px solid grey;
	border-radius: 5px;
}

.group-item-name {
	font-weight: bold;
	font-size: 18px;

}

.group-item-owner {
	font-weight: lighter;
	font-size: 12px;
}



#user-grid-container {
	height: 100vh;
	display: grid;
	grid-template-columns: .25fr 1fr 1fr;
	grid-template-rows: .25fr .75fr 3fr ;
	grid-template-areas: 
	"brand header header"
	"gen-side-bar user-main user-main "
	"gen-side-bar user-main user-main "
}

/*group page styles*/

#group-main {
	grid-area: group-main;
}

#group-grid-container {
	height: 100vh;
	display: grid;
	grid-template-columns: .25fr 1fr 1fr;
	grid-template-rows: .25fr .75fr 3fr ;
	grid-template-areas: 
	"brand header header"
	"gen-side-bar group-main group-main "
	"gen-side-bar group-main group-main "
}

/*job page styles*/

#exp-widget {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 5px;
	margin: 10px;

}

#exp-widget-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	h3 {

	font-size: 20px;
	font-weight: normal;
	}
}
#exp-widget-header button {
	margin-left: 10px;
	border-radius: 0px;
	border: none;
	background-color: white;
	color: grey;
	font-size: 15px;
}

#exp-widget table {
	text-align: left;
	padding: 5px;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	button {
		margin: 0px;
	}
}

#exp-widget th {
	background-color: black;
	color: white;
	padding: 10px;
	font-weight: normal;

}

#exp-widget td, th {
	/*border-bottom: 1px solid gray;*/
	border: none;

}


#exp-widget tbody tr:nth-child(odd) {
  background: #eee;
}
#exp-widget tbody tr:nth-child(even) {
}

#exp-widget td {
	padding: 5px;
	border-radius: 5px;
}

.upload-rec-row {
	padding-left: 0px !important;
	border-radius: 5px;
}


input[type="file"] {
	display: none;
}

#exp-widget button[type="submit"] {
	display: none;
}

#exp-add-btn {
	display: block !important;
}

#receipt-submit-btn {
	display = none;
}

#receipt-upload-btn {
	background-color: black;
	color: white;
	padding: 8px;
	height: 50%;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	margin-left: 10px;
	border: thin grey;
	font-family: Arial;

}


.grid-container {
	height: 100vh;
	display: grid;
	grid-template-columns: .25fr .75fr 3fr;
	grid-template-rows: .25fr .75fr 3fr ;
	grid-template-areas: 
	"brand header header"
	"side-bar job-info main "
	"side-bar job-info main "
}

@media only screen and (max-width: 930px){
	.grid-container {
		display: grid;
		grid-template-columns: .25fr 1fr;
		grid-template-rows: .25fr .75fr 1.5fr 1.5 ;
		grid-template-areas: 
		"brand header"
		"job-info job-info"
		"main main "
		"main main "
	}


}
@media only screen and (max-width: 930px){

	aside {
		display: none;
	}


}


/*expense styles*/


#expense-main {
	grid-area: exp-main;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-left: .5px solid grey;
	padding: 10px;
}

#item-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	div {
		margin: 5px;
	}
	button {
		margin: 0px;
	}
}


#item-details {
	margin-top: 10px;
	display: flex;
}

#filekey {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
}

#expDocList ul {
	list-style-type: none;
	padding: 0;
}

.receipt-itemized {
	display: flex;
	align-items: center;
	padding: 10px;
	padding-left: 0px;
}

.receipt-itemized button {
	margin-left: 10px;
	padding: 5px;
	background-color: black;
	border-radius: 10px;
	color: white;
}

.receipt-itemized button[type="submit"] {
	display: none;
}

.upload-rec-row {
	display: flex;
	align-items: center;
	padding: 0px;
}



#item-edit-modal {
	border: 1px solid grey;
	border-radius: 5px;
}

#item-edit-form {
	display: table;
	 label {
		 display: table-cell;
	 }
	 input {
		 display: table-cell;
		 padding: 5px;
		 margin: 5px;
	 }
	  div {
		  display: table-row;
	  }

	  #item-edit-btn {
		  margin-top: 15px;
		  margin-right: 20px;
	  }


}



#expense-grid-container{
	height: 100vh;
	display: grid;
	grid-template-columns: .25fr .75fr 3fr;
	grid-template-rows: .1fr .75fr auto ;
	grid-template-areas: 
	"brand header header"
	"side-bar job-info exp-main"
	"side-bar job-info exp-main"
}



/*expense-create-styles*/
	
#expense-create-main {
	grid-area: exp-create-main;
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
}

#new-exp {
	padding: 10px;
}

#exp-create-form {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	/*align-items: space-between;*/
	/*input {*/
	/*	width: 50%;*/
	/*}*/
	/*button {*/
	/*	width: 20%;*/
	/*}*/
	display: table;
	 label {
		 display: table-cell;
	 }
	 input {
		 display: table-cell;
		 padding: 5px;
		 margin: 5px;
		 border: none;
		 border-bottom: .5px solid grey;
	 }

	 textarea {

		 display: table-cell;
		 padding: 5px;
		 margin: 5px;
		 border: none;
		 border-bottom: .5px solid grey;
	 }
	  div {
		  /*display: table-row;*/
		  margin: 10px;
	  }

}

#expense-create-grid-container{
	height: 100vh;
	display: grid;
	grid-template-columns: .25fr .75fr 3fr;
	grid-template-rows: .1fr .75fr auto ;
	grid-template-areas: 
	"brand header header"
	"side-bar job-info exp-create-main"
	"side-bar job-info exp-create-main"
}

/*job create styles*/

#job-create-main {
	grid-area: job-create-main;
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
}

#new-job {
	padding: 10px;
}

.create-form {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	/*align-items: space-between;*/
	/*input {*/
	/*	width: 50%;*/
	/*}*/
	/*button {*/
	/*	width: 20%;*/
	/*}*/
	display: table;
	 label {
		 display: table-cell;
	 }
	 input {
		 display: table-cell;
		 padding: 5px;
		 margin: 5px;
		 border: none;
		 border-bottom: .5px solid grey;
	 }

	 textarea {

		 display: table-cell;
		 padding: 5px;
		 margin: 5px;
		 border: none;
		 border-bottom: .5px solid grey;
	 }
	  div {
		  /*display: table-row;*/
		  margin: 10px;
	  }

}

#job-create-note {
	font-weight: lighter;
	font-size: 12px;
	color: grey;
	margin-top: 20px;
}

#job-create-grid-container{
	height: 100vh;
	display: grid;
	grid-template-columns: .25fr .75fr 3fr;
	grid-template-rows: .1fr .75fr auto ;
	grid-template-areas: 
	"brand header header"
	"gen-side-bar job-create-main job-create-main"
	"gen-side-bar job-create-main job-create-main"
}

/*invoice create styles*/

#exp-form-list {
	display: flex;
	flex-direction: column;

	div {
		display: flex;
		label {
			padding-left: 15px;
		}
	}
}

.exp-quant {
	width: 40px;
	margin-left: 5px;
	border: none;
	border-bottom: .5px solid grey;
}

#all {
	margin-right: 15px;
}

#form-rec-info {
	/*display: flex;*/
	/*flex-direction: column;*/

	display: table;
	 label {
		 display: table-cell;
	 }
	 input {
		 display: table-cell;
		 padding: 5px;
		 margin: 5px;
		 border: none;
		 border-bottom: .5px solid grey;
	 }

	 textarea {

		 display: table-cell;
		 padding: 5px;
		 margin: 5px;
		 border: none;
		 border-bottom: .5px solid grey;
	 }
	  div {
		  /*display: table-row;*/
		  /*margin: 10px;*/
	  }
}


/*invoice styles*/
#inv-header {
	display: flex;
	margin-bottom: 60px;

	p {
		margin-bottom: 0px;
		margin-top: 5px;
	}

}

.label {
	color: grey;
	font-weight: lighter;

}

#rec-info {
	margin-right: 200px;
}


#inv-table {
	table-layout: fixed;
	width: 100vw;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
td {
	/*padding-bottom: 10px;*/
	/*padding-right: 200px;*/
	margin-right: 40px;
	/*padding: 0 30px;*/
}
}





