{{define "successInvoice"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles.css">
  </head>
	<h1> Invoice Confirmation </h1>
	<p> Your Invoice has been created succesfully </p>
	<a href="#"> Click here to exit </a>
	<a href="#"> See Documents </a>
  <body>
    <script src=""></script>
  </body>
</html>
{{end}}
